.App {
  text-align: center;
  height: 100vh;
  overflow-y: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Use space-between to place logos at the ends and text in the middle */
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.logo img {
  width: auto;
  height: 40px;
}

.logo-left {
  height: 40px;
  margin-right: 40px; /* Add margin to separate the left logo from the text */
}

.logo-left img {
  filter: brightness(5);
}

.logo-right {
  margin-left: 20px; /* Add margin to separate the right logo from the text */
  display: flex;
}

.logo-right img {
  height: 76px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.header-text {
  flex: 1;
  text-align: center;
  font-family: Cervo Neue Semibold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.header-text h1 {
  margin: 0;
  font-size: 50px;
}

.header-text p {
  margin: 0;
  font-size: 14px;
}

/* Added to move the logos to the left and right corners on larger screens */
@media (min-width: 768px) {
  .header {
    justify-content: space-between;
  }
}

a {
  color: white;
}

li,
a {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

li a:hover {
  color: #0088a9;
}

::-webkit-scrollbar {
  display: none;
}

.btnPlayers {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  font-family: 'Cervo Neue Regular';
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: color 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.activeBtnPlayers {
  background: none;
  border: none;
  color: #0088a9;
  font-size: 24px;
  font-family: 'Cervo Neue Regular';
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: color 0.3s;
  cursor: pointer;
  text-decoration: none;
}

nav ul li {
  padding-left: 0px; /* Adjust this value to reduce the left padding */
}
